@use "../../../sass//abstract/variable";
.bounded-container {
  display: flex;
  flex-direction: column;
  .bounded-paragraph {
    line-height: 1.33;
    padding-left: 50px;
    padding-bottom: 8px;
  }
  .bold {
    color: variable.$orange;
    font-style: bold;
    font-size: calc(variable.$font-size-m * 1.001);
  }
  .italic {
    font-style: italic;
    font-size: calc(variable.$font-size-m * 1.001);
  }
  .normal {
    font-size: calc(variable.$font-size-m);
  }
}
.question-section {
  margin-bottom: 20px;
}

.mobile {
  .bounded-paragraph {
    padding: 10px;
    text-align: justify;
    line-height: 1.2;
  }

  .normal {
    font-size: calc(variable.$font-size-m * 1.2);
  }


  .bold {
    color: variable.$orange;
    font-style: bold;
  }
  .italic {
    font-style: italic;
    font-size: calc(variable.$font-size-m * 0.9);
  }
}

 .question-section{
    .normal{
        font-size: calc(variable.$font-size-m * 1.2);
        font-weight: 600;
    }
  }