/* loader.scss */

.loader {
  --size: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Object Sans';
  font-weight: 900;
  font-size: var(--size);
  background-color: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  overflow: hidden;
}

.loader__text {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.digit-hundred {
  width: var(--size); /* Same width as digit wrappers */
  text-align: center;
  height: var(--size);
  font-size: var(--size);
  line-height: var(--size);
}

.digit-wrapper {
  position: relative;
  width: var(--size); /* Adjust the width to fit the digits */
  height: var(--size); /* This should match the height of one digit */
}

.digit-column {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.digit {
  font-size: var(--size);
  display: block;
  height: var(--size); /* Same as the height of .digit-wrapper */
  line-height: var(--size); /* Vertically center the digit */
  text-align: center;
}
