@use "../../../sass/abstract/variable";
.responsive {
  font-family: 'Object Sans';
  color: variable.$white;
  background-color: variable.$black;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  .section-wrapper {
    img {
      height: 80vh;
      object-fit: contain;
      width: 100%;
      position: sticky;
      object-position: top;
      z-index: 100;
      top: 0;
      will-change: opacity;
      
    }
    .question-section {
      margin-bottom: 5vh;
      background-color: variable.$black;
      position: relative;
      z-index: 100;
      will-change: filter;
    }
    .reponse-section {
      background-color: variable.$black;
      position: relative;
      z-index: 100;
      margin-bottom: 10vh;
    }
  }
}
