.special-article__wrapper {
  width: 100vw;
  overflow: hidden;
  // font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 000;
  font-style: normal;
  font-variation-settings: "YEAR" 1979;
  background-color: white;
  h1,
  h2 {
    font-family: "Object Sans";
    font-weight: 800;
    color: #ff1414;
  }

  p {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: clamp(9px, 5vw, 42px);
    line-height: 1.05;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    backdrop-filter: brightness(0.1);
    text-transform: uppercase;

    .loader--heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3vw;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 10vw;
      text-align: center;
      color: white;

      img {
        width: 350px;
      }
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: 8vw;
  }

  section.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    h1 {
      text-align: center;
    }

    .hero--info {
      display: flex;
      gap: 10px;
      position: absolute;
      bottom: 2%;
      left: 0;
      width: 100%;
      justify-content: space-around;

      span {
        text-transform: uppercase;
        color: white;
        border: 1px solid white;
        border-radius: 1000px;
        font-size: clamp(6px, 1vw, 24px);
        padding: 0.5em 2em;
        font-family: Object Sans;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/public/50.JPG");
      filter: brightness(0.7);
    }
  }

  section.info {
    width: 100vw;
    height: 200vh;
    background-color: #141414;

    .intro--carousel {
      display: flex;
      object-fit: cover;
      height: 100vh;
    }

    .intro--carousel img {
      will-change: transorm;
      display: block;
    }
    .intro {
      flex: 1;
      height: 100vh;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  section.question--wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #141414;
    will-change: transorm;

    .question--carousel {
      display: flex;
      transform: translateX(-25%);
      will-change: transorm;

      img {
        width: 50vw;
        aspect-ratio: 16 / 9;
      }
    }

    .question--paragraph {
      line-height: 1.2;
      color: #ff1414;
      font-weight: 500;
      max-width: 95vw;
      margin: 5vw auto;
      text-transform: uppercase;
      position: relative;
      will-change: transorm;
      opacity: 0;
      p {
        font-family: Object Sans;
        font-weight: 500;
        font-size: clamp(8px, 1.5vw, 45px);
      }
    }

    .question__frame--left,
    .question__frame--right {
      position: absolute;
      // transform: translate(-50%, -50%);
    }

    .question__frame--left {
      width: 10vw;
      height: 3vw;
      top: 0;
      left: 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: #ff1414;
      }

      &::before {
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
      }

      &::after {
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
      }
    }

    .question__frame--right {
      width: 3vw;
      height: 3vw;
      background: url("/public/KNIT_WHITE.png") no-repeat center;
      background-size: contain;
      right: -1%;
      bottom: -50%;
      will-change: transorm;
    }
  }

  section.pinned {
    will-change: transorm;

    position: absolute;
    top: 100vh;
    width: 100%;
    height: 100vh;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    p {
      padding-top: 5vw;
      font-family: Helvetica, sans-serif;
      font-size: clamp(0.875rem, -0.3443rem + 2.1869vw, 3rem);
      line-height: 1.2;
      color: white;
      font-weight: 500;
      text-transform: uppercase;
      max-width: 95%;
      margin: 0 auto;
    }
  }

  section.whitespace {
    width: 100%;
    height: 100vh;
    background-color: red;
    position: relative;
    z-index: -1;
  }

  .revealer {
    will-change: transorm;

    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    max-height: 100vh;
    opacity: 0;
    transform-origin: top right;
    aspect-ratio: 16/9;
    z-index: -1;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .question-reponse__wrapper {
    display: flex;
    flex-direction: column;
    background-color: #141414;
  }

  .large-heading__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150vh;
    font-family: Helvetica, sans-serif;
    mix-blend-mode: difference;
    z-index: 1000;

    .grain {
      flex: 2;
      will-change: transorm;
    }

    p {
      opacity: 0;
      flex: 1;
      font-size: clamp(2rem, 6vw, 10vw);
      text-align: center;
      font-weight: 800;
      font-family: Object Sans;
      color: white;
      display: flex;
      align-items: center;
      // opacity: 0;
      transform: translate(10%);
      will-change: transorm;
    }
  }
}

.portrait__wrapper {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  padding-top: 90px;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  color: white;
  .portrait__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
    h1 {
      font-size: 12vw;
      letter-spacing: -2px;
      color: #ff1414;
      font-weight: 900;
      line-height: 0.8;
      text-transform: uppercase;
      margin-inline: 4vw;
      text-align: center;
      text-wrap: stable;
    }
    h2 {
      align-self: center;
      text-align: right;
      margin-right: 4vw;
      font-size: 4vw;
      max-width: 80%;
      font-style: italic;
    }
  }

  .phone__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
    img {
      width: 100px;
      height: 100%;
    }
    p {
      font-size: 3vw;
      font-weight: 100;
      width: 100%;
      text-wrap: nowrap;
    }
  }
  .portrait-carousel__wrapper {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    .carousel {
      display: flex;
      gap: 2vw;
      width: max-content;
      .carousel__image {
        width: 66.6vw;
        aspect-ratio: 4/3;
        object-fit: cover;
      }
    }
  }

  p {
    font-size: 5vw;
    font-weight: 900;
  }
}

@media (max-device-width: 930px) and (orientation: landscape) {
  .special-article__wrapper section.question--wrapper .question--paragraph {
    margin: 2rem auto;
  }
}
