@use "../../../sass/abstract/variable";

.desktop {
  font-family: 'Object Sans';
  min-height: 200vh;
  background-color: variable.$black;
  color: variable.$white;
  padding-bottom: 50vh;
  .question-reponse__wrapper {
    padding-block: 25vh;
    max-width: 95%;
    display: flex;
    margin: 0 auto;

    .spacer {
      flex: 1;
    }
    width: 100%;
    .fixed-section {
      position: fixed;
      height: 100vh;
      top: 0;
      width: 33.3vw;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      .image__wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        .image__carousel {
          img {
            width: 100%;
            opacity: 0;
            object-fit: contain;
          }
        }
        img {
          max-height: 60vh;
          width: auto;
          opacity: 0;
        }
      }
    }
    .scrollable-section {
      flex: 2;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 200px;

      > div {
        height: 200vh;
        display: flex;
        gap: 5vh;
        flex-direction: column;
        background-color: variable.$black;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10px; /* Hauteur de la barre */
  width: 0%; /* Commence avec une largeur de 0 */
  background-color: variable.$orange; /* Couleur de la barre de progression */
  z-index: 1000; /* Toujours au-dessus des autres éléments */
  transition: width 0.2s ease;
}
