@use "../../sass/abstract/variable";
.auto-grid {
  --min-column-size: 35rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-column-size), 100%), 1fr)
  );
}

.category__wrapper {
  min-height: 100svh;
  width: 95svw;
  margin: 0 auto;
  margin-top: calc(100px + 3vw);

  .category--header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-block: 2vw;

    a {
      font-size: variable.$font-size-s;
      text-decoration: underline;
    }
  }
  h2 {
    color: #f0efe9;
    font-size: variable.$font-size-xl;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}
