@use "../sass/abstract/variable";
.tagged-articles__section {
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  .tagged-articles--header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-inline: 2.5vw;

    a {
      font-size: variable.$font-size-s;
      margin-bottom: 0.5vw;
      text-decoration: underline;
    }
    h2 {
      color: variable.$background;
      font-size: variable.$font-size-xl;
      font-weight: 800;
      margin-top: 2vw;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }
  }
  .findByTag {
    display: flex;
    gap: 3vw;
    flex-shrink: 0;
    overflow: scroll;
  }
}

.tagged-article__wrapper {
  flex-shrink: 0;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1;
  position: relative;
  min-width: 200px;
  max-width: 600px;
  position: relative;
  overflow: hidden;

  .tagged-article__header {
    overflow: hidden;
    flex: 2;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .tags {
      display: flex;
      gap: 1em;
      position: absolute;
      top: 3%;
      mix-blend-mode: difference;
      right: 3%;
      a {
        font-size: clamp(0.8em, 3vw, 2.5em);
        padding: 0.3rem 2rem;
        border: 1px solid white;
        color: white;
        border-radius: 1000px;
        font-weight: 100;
      }
    }
  }

  .tagged-article__body {
    flex: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(70, 70, 70, 0.228);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .title {
      font-size: variable.$font-size-m;
      font-weight: 600;
      margin-bottom: 0em;
    }
    .summary {
      font-size: variable.$font-size-s;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .article--link {
      align-self: flex-end;
      font-size: variable.$font-size-s;
      text-decoration: underline;
      font-weight: 600;
    }
  }
}
