@use "../sass/abstract/variable";
.home {
  .home__video {
    height: 100svh;
    width: 100vw;
    background-color: variable.$black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    video {
      object-fit: cover;
      height: auto;
      width: 100%;
      object-position: center;
      width: 100vw;

    }
    .scrollDown--btn{
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-transform: uppercase;
      gap: 20px;
      justify-content: center;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -20%);
      p{
        font-size: variable.$font-size-m;
        font-weight: bold;
      }
    }
  }

  .sponsoredArticle__wrapper {
    margin-top: 8vw;
    h2 {
      margin-left: 2.5vw;
      color: variable.$background;
      font-size: variable.$font-size-xxl;
      font-weight: 800;
      margin-top: 2vw;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: variable.$black;
    }
  }
}
.home {
  &__video {
    position: relative;
    width: 100%;
    height: auto;

    video {
      width: 100%;
      height: auto;
    }

    .video-desktop {
      display: none;
    }

    .video-mobile {
      display: block;
    }
  }

  @media (min-width: 768px) {
    .home__video {
      .video-desktop {
        display: block;
      }

      .video-mobile {
        display: none;
      }
    }
  }

  @media (max-width: 767px) {
    .home__video {
      width: 100%;
      height: auto;
      z-index: -1;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      video {
        object-fit: contain;
      }
    }
  }
}
