@use "../sass/abstract/variable";
.home {
  .about__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin: 0 auto;
    margin-block: 10vw;
    gap: 5vw;
    h1 {
      font-size: variable.$font-size-xl;
      font-weight: 900;
    }
    h2 {
      font-size: variable.$font-size-l;
      margin-bottom: 2vw;
      font-weight: 800;
    }
    p {
      font-size: variable.$font-size-m;
      width: 70%;
    }
  }
}
.home__video {
  height: 100svh;
  width: 100%;
  overflow: hidden;
  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
    scale: 1.3;
  }
}
