@use "../sass/abstract/variable";
.home {
  .home__video {
    height: 100svh;
    width: 100vw;
    background-color: variable.$black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    video {
      object-fit: cover;
      height: auto;
      width: 100%;
      object-position: center;
      width: 100vw;
    }
  }

  .sponsoredArticle__wrapper {
    margin-top: 8vw;
    h2 {
      margin-left: 2.5vw;
      color: variable.$background;
      font-size: variable.$font-size-xxl;
      font-weight: 800;
      margin-top: 2vw;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: variable.$black;
    }
  }
}
