@use "../../sass/abstract/variable";
.cgu__wrapper {
  margin: 0 auto;
  margin-block: calc(100px + 3vw);
  display: flex;
  flex-direction: column;
  padding-left: 3vw;

  h2 {
    font-size: variable.$font-size-xxl;
    font-weight: 700;
    margin-bottom: 2vw;
  }

  p {
    max-width: 95vw;
    font-size: variable.$font-size-xs;
    margin-bottom: 3px;
  }
  a {
    font-size: variable.$font-size-m;
    text-decoration: underline;
  }
}

@media screen and (max-width: variable.$layout-breakpoint-small) {
  .cgu__wrapper{
    width: 100%;
    p{
      margin-bottom: -10px;
    }
  }
  
}
