@use "../sass/abstract/variable";
.footer__wrapper {
  background-color: black;
  display: flex;
  font-weight: 800;
  color: white;
  align-items: center;
  padding-block: 2.5vw;
  p {
    font-size: clamp(1.5rem, 5vw, 3rem);
    margin-bottom: 1rem;
  }
  
  .contact__wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex: 2;
    gap: 2vw;
    padding-inline: 2.5vw;
    .icons__wrapper {
      display: flex;
      gap: 2.5vw;
    }
  }

  .rs__wrapper{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer--separator {
    width: 3px;
    background-color: white;
    height: 250px;
  }
}

@media screen and (max-width: variable.$layout-breakpoint-small) {
  .footer__wrapper {
    flex-direction: column-reverse;
    .footer--separator {
      height: 3px;
      width: 80%;
      margin-block: 2.5vw;
    }
    .rs__wrapper,
    .contact__wrapper {
      width: 80%;
      .icons__wrapper {
        width: 100px;
      }
      input,
      textarea {
        padding: 2.5vw;
      }
    }
  }
}
