.similarContent__wrapper {
  background-color: black;
  padding-top: 2.5vw;
  color: white;
  .similarContent--title {
    font-size: clamp(1.5rem, 5vw, 3rem);
    padding-left: 3vw;
    font-weight: 900;
  }
  .reel {
    color: white;
  }
}
