@use "../sass/abstract/variable";
.similarContent__wrapper {
  background-color: variable.$black;
  padding-top: 2.5vw;
  color: variable.$white;
  .similarContent--title {
    font-size: clamp(1.5rem, 5vw, 3rem);
    padding-left: 3vw;
    font-weight: 900;
  }
}
