.carousel__wrapper {
  position: relative;
  min-height: 100svh;
  overflow: hidden;
  background: rgb(20, 20, 20);
  .images__wrapper {
    display: flex;
    align-items: center;
  }
  image {
    width: 100vw;
    height: 100svh;
  }
  .dots__wrapper {
    display: flex;
    position: absolute;
    gap: 2vw;
    bottom: 5vw;
    left: 50%;
    transform: translate(-50%, 50%);
    button {
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 50%;
    }
    .selected {
      background-color: white;
      scale: 1.2;
      transition: scale ease 0.2s;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .default {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      scale: 1;
      transition: scale ease 0.3s;
    }
  }
}
