@use "../sass/abstract/variable";
.rich-text--paragraph {
  font-size: variable.$font-size-m;
  margin-bottom: 3vw;
  font-weight: 100;
  line-height: 30px;
  text-wrap:stable;
}

.article-image--wrapper {
  height: 30vw;
  width: 40vw;
  aspect-ratio: 4/3;
  align-self: center;
  overflow: hidden;
  img {
    height: 120%;
  }
}

.rich-text--heading-h3 {
  font-size: variable.$font-size-l;
  margin-top: 3vw;
  margin-bottom: 2vw;
  text-decoration: underline;
  font-weight: 600;
  max-width: 80%;
  align-self: flex-start;
}

@media screen and (max-width: variable.$layout-breakpoint-small) {
  .rich-text--heading-h3{
    margin-top: 10vw;
  }
  .article-image--wrapper {
    align-self: center;
    height: 120%;
    width: 95vw;
    img {
      object-position: top;
    }
  }
  .article-image--wrapper:nth-child(odd) {
    align-self: center;
  }
}
