@use "../sass/abstract/variable";
.rich-text--paragraph {
  font-size: variable.$font-size-m;
  margin-bottom: 1vw;
  font-weight: 200;
  line-height: 28px;
  text-wrap: stable;
  a {
    color: rgb(255, 109, 46);
  }
}

.article-image--wrapper {
  height: 30vw;
  width: 100%;
  aspect-ratio: 4/3;
  align-self: center;
  overflow: hidden;
  img {
    height: 115%;
  }
}

.rich-text--heading-h3 {
  font-size: variable.$font-size-xl;
  margin-top: 3vw;
  margin-bottom: 1vw;
  font-weight: 700;
  max-width: 80%;
  align-self: flex-start;
}
.rich-text--heading-h4 {
  font-size: variable.$font-size-l;
  margin-top: 0.5vw;
  margin-bottom: 1vw;
  font-weight: 600;
  max-width: 80%;
  align-self: flex-start;
}
.rich-text--heading-h5 {
  font-size: variable.$font-size-l;
  margin-top: 0.5vw;
  margin-bottom: 1vw;
  font-weight: 600;
  max-width: 80%;
  align-self: center;
}

ul,
ol {
  li {
    font-size: variable.$font-size-m;
  }
  span {
    font-size: variable.$font-size-m;
  }
  margin-bottom: 5vw;
}

@media screen and (max-width: variable.$layout-breakpoint-small) {
  .rich-text--heading-h3 {
    margin-top: 7vw;
  }
  .rich-text--heading-h4 {
    margin-top: 1vw;
  }

  .article-image--wrapper {
    align-self: center;
    height: 120%;
    width: 95vw;
    img {
      object-position: top;
    }
  }
}

.bold-text {
  font-weight: bold;
}
.italic-text {
  font-style: italic;
}
.underline-text {
  text-decoration: underline;
}
.strike-text {
  text-decoration: line-through;
}
