//BREAKPOINTS
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 14440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

//COLORS
$background: #f4f3ee;
$background-darker: #a7a7a7;
$white: #f4f3ee;
$black: #141414;
$primary: #fff;
$secondary: #fff;
$placeholder: #c7c7c7;
$yellow: rgb(255, 221, 0);

$font-size-xs: clamp(0.8rem, 2vw, 2rem);
$font-size-s: clamp(0.8rem, 4vw, 2rem);
$font-size-m: clamp(1.8rem, 4vw, 2.1rem);
$font-size-l: clamp(2.8rem, 6vw, 7.5rem);
$font-size-xl: clamp(3rem, 8vw, 9rem);
$font-size-xxl: clamp(5rem, 10vw, 10rem);
