//BREAKPOINTS
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 14440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

//COLORS
$background: #F0EFE9;
$white: #fff;
$black: #fff;
$primary: #fff;
$secondary: #fff;
